.button1 {
        display: inline-block;
        border-radius: 5px;
        border: solid;
        border-color: rgb(57, 232, 255);
        border-width: 1px;
        background: rgb(82, 82, 82);
        color: #FFF;
        width: 150px;
        height: 50px;
        outline: none;
        transition: border-width 0.25s;
}
.button1:hover {
        border-width: 3px;
        cursor: pointer;
}
.section-title {
        padding: 10px;
        width: 100%;
        display: grid;
        place-items: center;
        font-size: 20px;
}
.section-main {
        padding-left: 20px;
        padding-right: 20px;
}
.text-gradient {
        background: rgb(0, 38, 255);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation-name: gradient-shade;
        animation-duration: 6s;
        animation-iteration-count: infinite;
}