[parallax="true"] {
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}
[divider] {
        background: transparent;
        width: 100%;
        height: 25vh;
}